@font-face {
    font-family: 'Avenir';
    src: url('AvenirLTStd-Book.eot') format("svg");
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* display: flex;
    flex-direction: row; */
    /* background-color: black; */
}

#controlBar {
    width: 100%;
    height: 3%;
    padding: 0.5%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subControlBar {
    width: 100%;
    height: 100%;
    padding-left: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* #optionsControlBar {
    width: 100%;
    height: 35%;
    padding-left: 0.5%;
} */

#subBar1 {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#subBar2 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.controlGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controlGroup>label {
    margin-right: 2px;
}

.chkLbl {
    padding-top: 2px;
}

/* .controlBarText {
    color: white;
} */

#btnSubmit {
    min-width: 40%;
    font-size: medium;
}

#canvas {
    width: 100%;
    height: 93%;
    /* background-color: black; */
    /* margin: 1%; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    row-gap: 5px;
    column-gap: 5px;
    overflow-y: auto;  */
}

#treeCanvas {
    width: 50%;
    height: 100%;
}

#subCanvas {
    width: 50%;
    height: 93%;
    display: flex;
    flex-direction: column;
}

#subView1 {
    width: 100%;
    height: 25%;
}

#subView2{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

#subView2A{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
}

#subView2B{
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: row;
}

#subView2B1, #subView2A1{
    width: 5%;
    height: 100%;
    overflow: scroll;
}

#subView2B2, #subView2A2{
    width: 94%;
    height: 100%;
    overflow: scroll;
}

.nodeLabel {
    font-size: 4px;
    /* font-family: 'Avenir' */
}

.legendLabel {
    font-size: medium;
    /* font-family: 'Avenir' */
  }
  
.treeBranch {
    fill: none;
    stroke-opacity: 0.4;
}

.sliceText {
    font-size: smaller;
    color: black;
    text-anchor: middle;
}

.msa_lbl {
    font-size: smaller;
    text-anchor: end;
}

.msa_rect {
    stroke: black;
    fill: none;
    stroke-width: 0.5px;
}

.msa_seq_letter {
    font-size: x-small;
    text-anchor: middle;
}

.msa_seq_rect {
    stroke:none;
}

.msa_letter_conservation {
    alignment-baseline: central;
    /* vertical-align: baseline; */
    text-anchor: middle;
}

.msaConservationViewXAxis > path {
    stroke: none;
}

